.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 2px solid white;
    background: white;
    /* background-image: url('../Assets/footer_img.png'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    /* height: 150px; */
}

.footer p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    align-self: center;
}